* {
    margin: 0;
    padding: 0;
}

@font-face {
   font-family: Robotox;
   src: url(../fonts/Roboto-Regular.tff);
}

@font-face {
   font-family: Bluefish;
   src: url(../fonts/Bluefish_Regular.otf);
}

/*
.navSignIn {
  border-style: solid;
  border-width: 1px;
  border-color: white;
}
*/

nav {
  background-color: rgba(0, 0, 0, 0.5);
}

/*CSS3 STROKE EFFECT*/

#mainNav ul {
  list-style: none;
  margin:0;

}
#mainNav ul li {
  display: inline-block;
  display:inline;
  margin: 20px;
}
#mainNav ul li a {
  padding-bottom: 10px;
  text-decoration: none;
  color:#fff;
}
#mainNav ul li a,
#mainNav ul li a:after,
#mainNav ul li a:before {
  transition: all .5s;
}
#mainNav ul li a:hover {
  color:#4dc18b;
}

/* stroke */
#mainNav.stroke ul li a
{
  position: relative;
}
#mainNav.stroke ul li a:after,
#mainNav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #4dc18b;
  height: 1px;
}
#mainNav.stroke ul li a:hover:after {
  width: 100%;
}

#mainNav ul li a {
  transition: all 1s;
}

#mainNav ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
#mainNav ul li a:hover {
  color: #4dc18b;
  z-index: 1;
}

#mainNav ul li .signBtn:hover {
  color: black;
  z-index: 1;
}

#mainNav ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  opacity: 1;
}

.button {
  
  border-radius: 25px;
  border: 1px solid #4dc18b;
  padding: 10px;
  margin: 0 auto;
  width: 200px;
  transition: 0.6s;
}

.button:hover {
  background-color: rgba(77, 193, 139, 0.7);
  transition: 0.6s;
  cursor: pointer;
}

/*HomePage*/

#indexBody {
  background-image: url(../images/bg.png);
}

.wrapper {
    text-align: center;
    margin-top: 15%;
}

.webTitle {
    margin: 0 auto;
    color: white;
}

.webTitle h1, h3 {
    font-size: 3em;
}

.webTitle h1 {
    font-family: Bluefish;
    font-size: 4em;
}

.webTitle h3 {
    font-family: Roboto;
}

/*Login*/

#loginBody {
  background-image: url(../images/bg.png);
}

.loginForm {
  width: 25%;
  padding: 2%;
  background-color: white;
  height: 280px;
  margin: 0 auto;
}

.formInputs input {
  margin-left: 25%;
  width: 50%;
  margin-top: 20px;
  
  
}

.logBtn {
  background-color: #4dc18b;
  border: none;
  padding: 1%;
  color: white;
  transition: 0.4s;
}

.userReg{
  font-size: 0.9em;
  margin-top: 2%;
}

.logBtn:hover {
  background-color: #000000;
  transition: 0.4s;
  cursor: pointer;
}

.formTitle {
  text-align: center;
}

/*products*/

#productsBody {
  background-image: url(../images/bg.png);
}

.product {
  float: left;
  width: 20%;
  margin-left: 10.5%;
  margin-top: 90px;
  margin-bottom: 10px;
  background-color: #303030;
  color: white;
  padding: 1%;
  height: 500px;
  border-bottom: 2px solid #4dc18b;
  
}

.prodMain {
  width: 80%;
  margin: 0 auto;
  min-width: 1200px;
  
}

.product img {
  width: 100%;
}

.product h3 {
  text-align: center;
  font-family: Bluefish;
}

.price {
  float: right;
}

.product hr {
  background-color: white;
}

.prodTitle  {
  color: white;
  text-decoration: none;
}

.prodTitle:hover  {
  color: white;
  text-decoration: none;
}

.prodButton {
  background-color: #4dc18b;
  border: none;
  padding: 3%;
  cursor: pointer;
  transition: 0.3s;
  
}

.prodButton:hover {
  background: black;
  color: white;
  transition: 0.3s; 
}

.search-container{
  width: 20%;
  display: block;
  margin: 0 auto;
  margin-bottom: 85px;
}

input#search-bar{
  margin: 0 auto;
  width: 100%;
  height: 45px;
  padding: 0 20px;
  font-size: 1rem;
  border: 1px solid #D0CFCE;
  outline: none;
  &:focus{
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
    &::-webkit-input-placeholder{
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &::-moz-placeholder {
      transition: opacity 0.45s ease; 
  	  opacity: 0;
     }
    &:-ms-placeholder {
     transition: opacity 0.45s ease; 
  	 opacity: 0;
     }    
   }
 }

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -15px;
}

.noResult {
  text-align: center;
  color: white;
  font-family: Roboto;
}

/*About Us*/

#aboutBanner {
  background: url(../images/about-banner.jpg);
  background-size: cover;
  height: 300px;
}

.bannerText {
  text-align: center;
  color: black;
  font-family: Roboto; 
  font-size: 1.2em;
  padding-top: 130px;
}

.aboutHeader {
  text-align: center;
  color: black;
  margin-top: 20px;
  font-family: Bluefish;
}

.aboutIntro {
  
  color: black;
  max-width: 900px;
  text-align: center;
}

.aboutMain {
  width: 50%;
  margin: 0 auto;
}

.staffImg {
  margin-top: 3%;
  width: 45%;
  float: left;
  height: 292px;
}

.accordionSec {
  float: left;
  width: 54%;
  margin-top: 3%;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #4dc18b;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}



.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*Contact Us*/
#contactBody {
    background: url(../images/contactBG3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.contactForm {
  width: 100%;
  height: 530px;  
  background-color: rgba(255, 255, 255, 0.3);
}

.contactIn {
  margin-left: 5%;
  width: 90%;
  float: left;
  margin-top: 3.5%;
  padding: 1%;
  border: none;
  resize: none;
}

.contactSubmit {
  width: 80%;
  margin-left: 10%;
  margin-top: 2%;
  border: none;
  background-color: #4dc18b;
  padding-top: 1%;
  padding-bottom: 1%;
  cursor: pointer;
  transition: 0.3s;
}

.contactSubmit:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
}

#map {
  margin-top: 10px;
  height: 300px;
  width: 100%;
  
}

.wrapperContact {
  margin: 0 auto;
  height: 830px;
  width: 50%;
  min-width: 500px;
}

footer{
    height: 250px;
	position: fixed;
	bottom: 0%;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

.footer-distributed{
	background-color: WHITE;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  black;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  black;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: black;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: black;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  black;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: black;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

/*Registration Header*/

.regHeader {
  margin-top: 2%;
}

#commentsBody {
  background-color: #ebeef4;
  color: black;
}

.commentDiv {
  width: 50%;
  height: 90px;
  
  margin: 0 auto;
}

.commentName {
  margin-top: 1%;
  font-size: 1.2em;
  color: #4dc18b;
}

.mainComment {
  margin-left: 7%;
}

.commentDiv img {
  width: 3%;
  margin-top: 1%;
}

.commentTxt {
  width: 50%;
  margin-top: 1%;
  margin-left: 25%;
  margin-bottom: 1%;
  resize: none;
}

.commentSubmit {
  width: 50%;
  margin-left: 25%;
  margin-bottom: 2%;
  background-color: #4dc18b;
  transition: 1s;
  border: none;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  cursor: pointer;
}

.commentSubmit:hover {
  color: white;
  background-color: black;
  transition: 1s;
  
}

.noComments {
  text-align: center;
  margin-top: 1%;
  font-family: Roboto;
}
